:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}
  
  body {
    background: #666666;
    background: linear-gradient(to right, #4E42B0,#4E42B0);
    }
  
  #loginBtn{
      background-color: transparent;
      border-color: #1FE5BD;
      color:white;
    }

    #loginBtn:hover{
        background-color: #1FE5BD;
    }
    #inputEmail, #inputPassword{
        border-color:#63686E; 
        box-shadow: #495057;
      
    }
    .card-body{
      background-color: #4E42B0;
      border:1px solid #4E42B0;
    }
    
    #text1, #text2{
      font-size: 15px;
      display: inline;
      padding: 0.3rem;
    }

    #text2{
      color:#1FE5BD; 
      
    }

    #titleApp{
    color:#1FE5BD;
    }

    .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
  
    .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    }
  
    .card-signin .card-body {
    padding: 2rem;
    }
  
    .form-signin {
    width: 100%;
    }
  
    .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    }
  
    .form-label-group {
    position: relative;
    margin-bottom: 1rem;
    }
  
    .form-label-group input {
    height: auto;
    border-radius: 2rem;
    }
  
    .form-label-group>input,
    .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    }
  
    .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    }
  
    .form-label-group input::-webkit-input-placeholder {
    color: transparent;
    }
  
    .form-label-group input:-ms-input-placeholder {
    color: transparent;
    }
  
    .form-label-group input::-ms-input-placeholder {
    color: transparent;
    }
  
    .form-label-group input::-moz-placeholder {
    color: transparent;
    }
  
    .form-label-group input::placeholder {
    color: transparent;
    }
  
    .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
    }
  
    .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
    }
    
    
     /* @media (min-width: 768px){

      #titleApp {
        color: #1FE5BD;
        position: absolute;
        width: 154px;
        height: 71px;
        left: 96px;
        top: -47px;
    
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 147px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.0357143em;
        margin-left: -92px;
    }
    #inputEmail {
      width: 37rem;
      height: 8rem;

      margin-top: 130%;
      margin-left: -26%;
  }
  #inputPassword{
    width: 37rem;
    height: 8rem;

    margin-top: 7%;
    margin-left: -26%;
  }
 
      .col-md-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        margin-top: 58%;
      }
      .card.card-signin.my-5{
        width: 41rem;
        height: 49rem;
        margin-left: -29%;
      }
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 5.0rem;
        margin-top: 8%;
    }
   
  #text1{
    font-size: 32px;
    display: inline;
    padding: 0.3rem;
    margin-left: -19%;
}
#text2{
  font-size: 37px;
    display: inline;
    padding: 0.3rem;
}
.form-label-group>label {
  font-size: 37px;
    margin-left: -22%;
}
.form-label-group input:not(:placeholder-shown)~label {
  font-size: 27px;
}
#loginBtn {
  background-color: transparent;
  border-color: #1FE5BD;
  color: white;
  font-size: 139%;
  text-align: center;
  margin-left: -20%;
  width: 37rem;
  height: 6rem;
  margin-top: 7%;
  margin-left: -20%;
}
    } */

   