:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

    #body{
      background-color: #FCFCFC;
    }

    #job, #login, #start{
      display:none;
    }

  
  /*pantalla de inicio*/

   

    #imgStart{
        width: 100%;
        height: 50%;
        background-color:  #FCFCFC;

    }
 
    #textWelcome{
        font-size: 4.5rem; 
        font-family: 'Rubik', sans-serif;
        color:#A8B8F6;
        text-align: center;
    }

    #companyBtn{
         /* #4E42B0 */
        border: 2px solid #4E42B0;
        border-radius: 35px; 
        background-color: transparent;

        color: #63686E;
        } 

    #womanBtn{

        background-color: #4E42B0;
        border-radius: 35px;

        color: #FFFFFF;
    }

    #companyBtn, #womanBtn{
        width: 22rem;
        height: 6rem;
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.0357143em;
        justify-content: center;
        margin: 0 auto;
        margin-top: 2rem;
    }




        /*Login section*/
    #login {
    background-color: #5E4FD6;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    
    }

    #titleApp.card-title.text-center{
        font-family: "Roboto";
        font-style: normal;
        font-weight: 900;
        font-size: 70px;
        line-height: normal;
        text-align: center;
        letter-spacing: 0.0357143em;
        color: #D2E1FD;
        padding-top: 25%;
        padding-bottom: 10%;
        color:#1FE5BD;
    }

    #inputEmail, #inputPassword{
        width: 50rem;
        height: 4.5rem;
        background-color:#FCFCFC;
        border-color: #1FE5BD;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
    }

  
    #loginBtn{
        width: 50rem;
        height: 4.5rem;    
      background-color: transparent;
      border-color: #1FE5BD;
      color:#FCFCFC;
      justify-content: center;
      margin: 0 auto;
      font-size: 25px;
      margin-top: 10%;
    }

    #loginBtn:hover{
        background-color: #1FE5BD;
    }

    #text1, #text2{
      font-size: 30px;
      display: inline;
      padding: 0.3rem;
    }

    #text1{
        margin-left: 10%;
    }

    #text2{
      color:#1FE5BD; 
      
    }

    /*Detalle Oferta Section*/

    #title2{
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 5%;
    }

    #detalleImg{
        width: 100%;
    }
    
    #charge{
        font-size: 50px;
        font-family: "Roboto";
        color:  rgba(0, 0, 0, 0.543846);
        text-align: center;
        margin-top:10px;
    }
    #detail{
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 20px;
        color:rgba(0, 0, 0, 0.543846);
        text-align: center;
        margin-top: 10px;
    }

    #detail2{
        font-family: "Roboto";
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 20px;
        color:rgba(0, 0, 0, 0.543846);
        text-align: center;
    }

    a#moreInfo{
        color:#1FE5BD;
        margin-top: 20px;
        margin-left:320px;
        font-size: 25px;
    }
    
    #team{
        width: 50rem;
        height: 4.5rem;  
        font-size:35px;
        background-color: #4E42B0;
        border-radius: 35px;
        color: #FFFFFF;
        margin-top: 20px;
        margin-left: 60px;
    }

    .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
  
    .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
    }
  
    .card-signin .card-body {
    padding: 2rem;
    }
  
    .form-signin {
    width: 100%;
    }
  
    .form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
    }
  
    .form-label-group {
    position: relative;
    margin-bottom: 1rem;
    }
  
    .form-label-group input {
    height: auto;
    border-radius: 2rem;
    }
  
    .form-label-group>input,
    .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
    }
  
    .form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    }
  
    .form-label-group input::-webkit-input-placeholder {
    color: transparent;
    }
  
    .form-label-group input:-ms-input-placeholder {
    color: transparent;
    }
  
    .form-label-group input::-ms-input-placeholder {
    color: transparent;
    }
  
    .form-label-group input::-moz-placeholder {
    color: transparent;
    }
  
    .form-label-group input::placeholder {
    color: transparent;
    }
  
    .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
    }
  
    .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
    }
    /* menu  */
    
    #navbarTop{
        background-color:#4E42B0;
        width: 100%;
        height: 90px;
    }

    span.navbar-toggler-icon{
    font-size: 40px;
    }

    #textMenu{
    color: #FCFCFC;
    border-color:white;
    font-size: 40px;
    
    }

    a.nav-link{
    padding:20px;
    font-size: 40px;
    z-index: 1;

    }

